[submodule "external/bats-core"]
	path = external/bats-core
	url = https://github.com/bats-core/bats-core.git
[submodule "external/bats-assert"]
	path = external/bats-assert
	url = https://github.com/bats-core/bats-assert.git
[submodule "external/bats-support"]
	path = external/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "external/bats-file"]
	path = external/bats-file
	url = https://github.com/bats-core/bats-file.git
